* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #3a6cf4;
    scroll-behavior: smooth;
}

.kosh {
    width: 100%;
}

section img {
    margin-left: 10px;
}

/* .ord {
    position: absolute;
    right: 30%;
    top: 1%;
} */